In [47]:
import requests
import bs4 as BeautifulSoup

from selenium import webdriver
from selenium.webdriver import ActionChains

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.select import Select

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

import pandas as pd

import time

url = 'https://www.niftytrader.in/fii-dii-activity'

driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)
driver.maximize_window()

Master_df = pd.DataFrame()

Dates_list_dropdown = driver.find_elements(By.CLASS_NAME,"select-box")

Dates_options = Dates_list_dropdown[0].find_elements(By.TAG_NAME,"option")

i = 0

Dates_list = []

while i<len(Dates_options):
    Dates_list.append(Dates_options[i].text)
    i+=1
    
Dates_list = Dates_list[::-1]


for dates in Dates_list:
    Dropdown_date = driver.find_element_by_xpath('//*[@id="content"]/div[4]/div/div[1]/div[2]/div[1]/div[2]/select')
    Dropdown = Select(Dropdown_date)
    Dropdown.select_by_visible_text("{}".format(dates))
    
    time.sleep(10)
    
    list_of_dictionaries = []
    list_of_rows = driver.find_elements_by_tag_name("tr")
    
    n_rows = len(list_of_rows)
    
    i = 1
    j = 0
    
    while i in range(1,n_rows):
        
        temp_dictionary = {}
        
        cell_data = driver.find_elements_by_tag_name("td")
        
        temp_dictionary['CATEGORY'] = cell_data[j].text
        
        j+=1
        
        temp_dictionary['TRADING DATE'] = cell_data[j].text
        
        j+=1
        
        temp_dictionary['GROSS PURCHASES (RS.CRORE)'] = cell_data[j].text
        
        j+=1
        
        temp_dictionary['GROSS SALES (RS. CRORE)'] = cell_data[j].text
        
        j+=1
        
        temp_dictionary['NET INVESTMENT (RS. CRORE)'] = cell_data[j].text
        
        list_of_dictionaries.append(temp_dictionary)
        
        j+=1
        i+=1
        
    df = pd.DataFrame(list_of_dictionaries)
    Master_df = pd.concat([Master_df, df], ignore_index=True)

Master_df

====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache

,CATEGORY,TRADING DATE,GROSS PURCHASES (RS.CRORE),GROSS SALES (RS. CRORE),NET INVESTMENT (RS. CRORE)
0,FII/FPI,01-01-2021,1072.54,566.33,506.21
1,DII,01-01-2021,2505.67,2436.27,69.40
2,DII,04-01-2021,4575.57,5290.78,-715.21
3,FII/FPI,04-01-2021,5331.17,3487.95,1843.22
4,FII/FPI,05-01-2021,7039.45,6053.15,986.30
...,...,...,...,...,...
781,DII,25-07-2022,5270.58,5342.84,-72.26
782,DII,26-07-2022,6428.26,5428.90,999.36
783,FII/FPI,26-07-2022,4031.75,5580.04,-1548.29
784,FII/FPI,27-07-2022,4940.81,5377.62,-436.81
785,DII,27-07-2022,5448.69,4736.66,712.03

In [48]:
DII = Master_df[Master_df['CATEGORY']=="DII"].drop("CATEGORY",axis = 1)
DII

,TRADING DATE,GROSS PURCHASES (RS.CRORE),GROSS SALES (RS. CRORE),NET INVESTMENT (RS. CRORE)
1,01-01-2021,2505.67,2436.27,69.40
2,04-01-2021,4575.57,5290.78,-715.21
5,05-01-2021,5092.00,5582.03,-490.03
6,06-01-2021,5686.04,6066.45,-380.41
9,07-01-2021,4815.72,5805.22,-989.50
...,...,...,...,...
777,21-07-2022,5071.58,5383.87,-312.29
778,22-07-2022,5072.01,4332.63,739.38
781,25-07-2022,5270.58,5342.84,-72.26
782,26-07-2022,6428.26,5428.90,999.36
785,27-07-2022,5448.69,4736.66,712.03

In [49]:
FII = Master_df[Master_df['CATEGORY']=="FII/FPI"].drop("CATEGORY",axis = 1)
FII

,TRADING DATE,GROSS PURCHASES (RS.CRORE),GROSS SALES (RS. CRORE),NET INVESTMENT (RS. CRORE)
0,01-01-2021,1072.54,566.33,506.21
3,04-01-2021,5331.17,3487.95,1843.22
4,05-01-2021,7039.45,6053.15,986.30
7,06-01-2021,6733.28,7216.92,-483.64
8,07-01-2021,8481.77,8099.47,382.30
...,...,...,...,...
776,21-07-2022,8279.42,6480.10,1799.32
779,22-07-2022,5335.17,6010.62,-675.45
780,25-07-2022,13602.03,14446.81,-844.78
783,26-07-2022,4031.75,5580.04,-1548.29
784,27-07-2022,4940.81,5377.62,-436.81